<div class="container">
    <div style='color:white; margin-top: 100px'>
        <div *ngFor='let cat of cats'>
            Breed: {{ cat.breed }}
        </div>
    </div>
    <!-- <div class="auh__color">
        <div class="auh__image">
            <app-nav-bar></app-nav-bar>
            <div class="container__filling"></div>
            <div class="top__gradient"></div>
            <div class="header" data-aos="fade-up" data-aos-duration="1500">
                <h1>ABOUT LIMES</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="under__header">
            <div class="left__text">
                <h2>BUILDING TOGETHER</h2>
                <h2>SINCE 1982</h2>
                <h4>HUMBLE BEGINNINGS</h4>
                <p>Limes was founded in 1982 as a small local workshop to service the engineering sector. Over the
                    years, Petratec has continually grown our resources, and strengthening our position to provide
                    innovative solutions to meet your needs.</p>
                <h4>TURNING POINT</h4>
                <p>In 1996, Limes successfully managed to enter into the medical industry by providing precision
                    machining services for medical components and subsequently other services such as precise assembly
                    and testing. Limes has since become one of the most highly respected medical product assembly
                    company in Asia.</p>
            </div>
            <div class="right__picture">
                <img src="/assets/images/About/about1.jpg" alt="Working 1" data-aos="fade-right" data-aos-duration="1500">
            </div>
            <div class="left__picture">
                <img src="/assets/images/About/about2.jpg" alt="Working 2" data-aos="fade-left" data-aos-duration="1500">
            </div>
        </div>
        <div class="promise">
            <div class="promise__img">
                <div class="container__filling2">
                </div>
                <img src="/assets/images/xray-industrial-robot.png" data-aos="fade-up" data-aos-duration="1500"
                    data-aos-once="true" alt="Xray Industrial">
            </div>
            <div class="promise__text">
                <h4>OUR PROMISE</h4>
                <h5>Our values guide our behaviours. With more than 30 years of experience, Petratec built success
                    through pursuit of excellence, hard work and innovation.</h5>
                <div><img src="/assets/images/point.jpg" alt="Pointer">
                    <p>Petratec develops a competent workforce united in delivering performance excellence as a team and
                        as a Company.</p>
                </div>
                <div><img src="/assets/images/point.jpg" alt="Pointer">
                    <p>Petratec works on continuous improvement in the task we perform as a team and as a Company.</p>
                </div>
                <div><img src="/assets/images/point.jpg" alt="Pointer">
                    <p>Petratec innovates and takes initiative to continually improve as a team and as a Company.</p>
                </div>
            </div>
        </div>
        <div class="container__filling2">
        </div>
        <div class="exceed">
            <div class="exceed__text">
                <h1>BUILT TO EXCEED</h1>
            </div>
            <div class="exceed__options">
                <div class="ex__option">
                    <img src="/assets/images/Exceed/exceed-innovation-icon.png" alt="Lightbulb" data-aos="fade-down"
                        data-aos-duration="1000" data-aos-once="true">
                    <p>We provide our clients with innovative solutions that help them achieve competitive advantages in
                        their businesses.</p>
                </div>
                <div class="ex__option">
                    <img src="/assets/images/Exceed/exceed-confidence-icon.png" alt="Machine" data-aos="fade-down"
                        data-aos-duration="1000" data-aos-once="true">
                    <p>We enhance customer confidence with the latest technology,<br> innovation and continuous<br>
                        improvement.</p>
                </div>
                <div class="ex__option">
                    <img src="/assets/images/Exceed/exceed-quality-icon.png" alt="Papers" data-aos="fade-down"
                        data-aos-duration="1000" data-aos-once="true">
                    <p>We ensure quality, reliability and consistency at every stage of the process to achieve customer
                        satisfaction.</p>
                </div>
            </div>
            <div class="container__filling2">
            </div>
            <div class="exceed__button" [routerLink]="['/industries']">
                <span>INDUSTRY SERVED</span>
            </div>
        </div>
        <div class="container__filling">
        </div>
        <div class="promo">
            <div class="promo__text">
                <h1>THE BEST TEAM FOR YOUR</h1>
                <h1>MANUFACTURING NEEDS</h1>
                <p>At Petratec, we aim to cater to our customer's specific requirements by providing seamless support to
                    all your engineering and manufacturing needs, leaving you to focus on what your business does best.
                </p>
                <div class="promo__span"><span>OUR SERVICES</span></div>
            </div>
            <div class="promo__img">
                <img src="/assets/images/Exceed/About-services-worker-machinery.jpg" alt="Service Worker" data-aos="fade-down"
                    data-aos-duration="1000" data-aos-once="true">
            </div>
        </div> -->
    </div>