<div class="container">
    <div class="auh__color">
        <div class="auh__image">
            <app-nav-bar></app-nav-bar>
            <div class="container__filling"></div>
            <div class="top__gradient"></div>
            <div class="header" data-aos="fade-up" data-aos-duration="1500">
                <span class="cont">CONTACT</span><span>US</span>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="gi__touch">
            <div class="left__text">
                <h1>GET IN TOUCH</h1>
                <p id="lim">Limes prides itself in solving our client's questions and challenges. Through our unique
                    'ERP' process, we are here to assist.d</p>
                <div class="text__under">
                    <h3>1. ENQUIRE</h3>
                    <p>Submit your drawings and enquiry for us to review.</p>
                    <h3>2. REVIEW</h3>
                    <p>Allow our team to review and validate the enquiry.</p>
                    <h3>3. PROPOSE</h3>
                    <p>After review, we will submit our proposal for your peruse.</p>
                </div>
            </div>
            <div class="right__sub">
                <div class="sub">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <textarea name="Message" id="txt" cols="30" rows="10" placeholder="Message"></textarea>
                    <button id="submit">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="map__section">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11434.45696448041!2d21.190223468575024!3d44.2355999025628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47512af9f4489ae3%3A0xf47718fffe4a224!2z0KHQstC40LvQsNGY0L3QsNGG!5e0!3m2!1ssr!2srs!4v1639505538207!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="location__text">
                <h1>SZTR LIMES</h1>
                <p>Dimitrija Katića 55</p>
                <p>Serbia, Svilajnac 35210</p>
                <br>
                <p>Tel: (381) 3522 121</p>
                <br>
                <p>Fax: (381) 6273 3121</p>
            </div>
        </div>
    </div>
</div>