<div class="container">
    <div class="wrapper">
        <div class="nav">
            <div class="nav__logo">
                <p class="logo__info">
                <a href="" [routerLink]="['/']" >L I M E S</a>
                </p>
            </div>
            <div class="nav__buttons">
                <div class="nav__about hov"><a href="" [routerLink]="['/about']">ABOUT</a></div>
                <div class="nav__services hov"><a href="" [routerLink]="['/service']">SERVICE</a></div>
                <div class="nav__industries hov"><a href="" [routerLink]="['/industries']">INDUSTRIES</a></div>
                <div class="nav__contact hov"><a href="" [routerLink]="['/contact']">CONTACT</a></div>
            </div>
        </div>
    </div>
</div>