<div class="container">
    <div class="auh__color">
        <div class="auh__image">
            <app-nav-bar></app-nav-bar>
            <div class="container__filling"></div>
            <div class="top__gradient"></div>
            <div class="header" data-aos="fade-up" data-aos-duration="1500">
                <span class="cont">INDUSTRIES</span>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="main__content">
            <div class="upper__part">
                <div class="empty__container"></div>
                <div class="up__text">
                    <h2>BUILDING WORLD-CLASS SOLUTIONS</h2>
                    <p>With the growing demands for a wider range of services and through the constant upgrading of
                        manufacturing capabilities and facilities, we are able to provide low volume fast turn around
                        components to larger batch of production for different industries. Petratec's unique stengths
                        and track record have made us a trusted partner of our customers.</p>
                </div>
            </div>
            <div class="lower__part">
                <div class="nont__img">
                    <img src="/assets/images/Industries-intro-CNC.jpg" alt="" data-aos="fade-up"
                        data-aos-duration="1000">
                </div>
                <div class="transparent__img">
                    <img src="/assets/images/xray-industrial-hardware.png" alt="" data-aos-once="true"
                        data-aos="fade-left" data-aos-duration="1000">
                </div>
            </div>
        </div>
        <div class="container__filling"></div>
        <div class="expertise">
            <h2>OUR EXPERTISE</h2>
            <div class="container__filling"></div>
            <div class="groups">
                <div class="groups__three">
                    <div class="group__one">
                        <img src="/assets/images/Industries/Industries-biomedical-healthcare1-img.jpg" alt="Biomedical Healthcare"
                            data-aos="fade-down" data-aos-duration="1500" data-aos-once="true">
                        <h4>BIOMEDICAL & HEALTHCARE</h4>
                        <p>Petratec helps develop a range of safer medical products to advance healthcare and better
                            lives around the world.</p>
                    </div>
                    <div class="group__one">
                        <img src="/assets/images/Industries/Industries-precision-engineering2-img.jpg" alt="Precision Engineering"
                            data-aos="fade-down" data-aos-duration="1500" data-aos-once="true">
                        <h4>PRECISION ENGINEERING</h4>
                        <p>Petratec's precision engineering capability is a core enabler for us to service many other
                            industries.</p>
                    </div>
                    <div class="group__one">
                        <img src="/assets/images/Industries/Industries-marine3-img.jpg" alt="Industries Marine" data-aos="fade-down"
                            data-aos-duration="1500" data-aos-once="true">
                        <h4>MARINE & OFFSHORE</h4>
                        <p>Petratec provides a full spectrum of innovation marine and offshore engineering solutions.
                        </p>
                    </div>
                </div>
                <div class="container__filling2"></div>
                <div class="groups__three">
                    <div class="group__one">
                        <img src="/assets/images/Industries/Industries-manufacturing4-img.jpg" alt="Manufacturing"
                            data-aos="fade-down" data-aos-duration="1500" data-aos-once="true">
                        <h4>MANUFACTURING</h4>
                        <p>Petratec applies LEAN manufacturing techniques, resulting in cost saving and speed to market
                            delivery.</p>
                    </div>
                    <div class="group__one">
                        <img src="/assets/images/Industries/Industries-electronics5-img.jpg" alt="Electronics" data-aos="fade-down"
                            data-aos-duration="1500" data-aos-once="true">
                        <h4>ELECTRONICS</h4>
                        <p>Petratec's high level of attention to details are tailored for exceptional flexibility to
                            handle our customer's demand.</p>
                    </div>
                    <div class="group__one">
                        <img src="/assets/images/Industries//Industries-oil-gas6-img.jpg" alt="Oil Gas" data-aos="fade-down"
                            data-aos-duration="1500" data-aos-once="true">
                        <h4>OIL & GAS</h4>
                        <p>Petratec develops innovative and economically viable solutions to improve safety,
                            performances and compliance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__filling"></div>
        <div class="ex__under">
            <div>
                <h4>ENGINEER YOUR VISION TO REALITY NOW</h4>
                <div class="ex__span">
                    <span [routerLink]="['/contact']">CONTACT US</span>
                </div>
            </div>
        </div>
    </div>