<div class="container">
    <div class="auh__color">
        <div class="auh__image">
            <app-nav-bar></app-nav-bar>
            <div class="container__filling"></div>
            <div class="top__gradient"></div>
            <div class="header" data-aos="fade-up" data-aos-duration="1000">
                <h1>OUR SERVICE</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="about">
            <div class="left__text">
                <h1>INDUSTRIAL</h1>
                <h1>CRAFTSMANSHIP</h1>
                <p>Dedicated to our craft and a shared passion for quality and innovation, Limes helps institutions
                    envision pivotal projects that translate into meaningful products with lasting value.</p>
                <br>
                <p>Limes' strong in-house engineering capabilities form the cornerstone on which we are able to
                    design and built innovative solutions to enhance our customer's requirement. These enable Limes
                    to transform design concepts to reality, and at the same time achieving greater output efficiency
                    and product quality consistency in the production process.</p>
            </div>
            <div class="right__picture">
                <img src="/assets/images/servicemotor.jpg" alt="Service Motor" data-aos="fade-left" data-aos-once="true"
                    data-aos-duration="1500">
            </div>
        </div>
        <div class="container__filling">
        </div>
        <div class="ex__info">
            <h1>OUR EXPERTISE</h1>
        </div>
        <div class="expertise">
            <div class="expertise__three">
                <div>
                    <img src="/assets/images/Expertise/Services-consulting-icon.png" alt="Service Consulting" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>CONSULTING</h4>
                    <p>Limes is able to provide early involvement and collaboration services on new product, working
                        hand in hand throughout product realization.</p>
                </div>
                <div><img src="/assets/images/Expertise/Services-engineering-icon.png" alt="Service Engineering" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>ENGINEERING</h4>
                    <p>Our team of highly dedicated and skilled professionals delivers engineered solutions of the
                        highest quality through our commitment to absolute precision.</p>
                </div>
                <div><img src="/assets/images/Expertise/Services-prototyping-icon.png" alt="Service Prototyping" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>PROTOTYPING</h4>
                    <p>Our prototyping capability helps clients develop and evaluate new project quickly and
                        economically. It serves as a starting point for any downstream manufacturing.</p>
                </div>
            </div>
            <div class="expertise__three">
                <div>
                    <img src="/assets/images/Expertise/Services-sourcing-icon.png" alt="Service Sourcing" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>CONSULTING</h4>
                    <p>Limes is able to provide early involvement and collaboration services on new product, working
                        hand in hand throughout product realization.</p>
                </div>
                <div><img src="/assets/images/Expertise/Services-manufacturing-icon.png" alt="Service Manufacturing" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>ENGINEERING</h4>
                    <p>Our team of highly dedicated and skilled professionals delivers engineered solutions of the
                        highest quality through our commitment to absolute precision.</p>
                </div>
                <div><img src="/assets/images/Expertise/Services-assembling-icon.png" alt="Service Assembling" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>PROTOTYPING</h4>
                    <p>Our prototyping capability helps clients develop and evaluate new project quickly and
                        economically. It serves as a starting point for any downstream manufacturing.</p>
                </div>
            </div>
            <div class="expertise__two">
                <div>
                    <img src="/assets/images/Expertise/Services-testing-icon.png" alt="Service Testing" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>TESTING</h4>
                    <p>We work closely with our customers to explore new test techniques specific to their challenges
                        and provide effective and comprehensive solutions.</p>
                </div>
                <div><img src="/assets/images/Expertise/Services-delivering-icon.png" alt="Service Delivering" data-aos-once="true"
                        data-aos="fade-up" data-aos-duration="1000">
                    <h4>DELIVERING</h4>
                    <p>Limes aims to be a one stop service for the client from the beginning of the project till the
                        delivery to the client's customer location.</p>
                </div>
            </div>
        </div>
        <div class="container__filling">
        </div>
        <div class="ex__under">
            <div>
                <h4>ENGINEER YOUR VISION TO REALITY NOW</h4>
                <div class="ex__span">
                    <span [routerLink]="['/contact']">CONTACT US</span>
                </div>
            </div>
        </div>
    </div>