<div class="container">
    <div style='color:white; margin-top: 100px'>
        <div *ngFor='let dog of dogs'>
            Name: {{ dog.name }}
        </div>
    </div>
    <!-- <div class="auh">
        <div class="auh__color">
            <div class="auh__image">
                <div class="top__gradient"></div>
                <app-nav-bar></app-nav-bar>
                <div class="container__filling">
                </div>
                <div class="main__header" data-aos="fade-up" data-aos-duration="1000">
                    <div class="header__up">
                        <h1>YOU IMAGINE</h1>
                        <h1>WE CREATE</h1>
                    </div>
                    <div class="header__down">
                        <h4>Limes - The Only True Partner</h4>
                        <h4>For All Your Precision Needs</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="options">
            <div class="three__options">
                <div class="about" [routerLink]="['/about']">
                    <h2>ABOUT</h2>
                    <p>History & Mission</p>
                    <i class="fas fa-caret-square-right"></i>
                    <img data-aos="fade-left" data-aos-once="true" data-aos-duration="1500" src="/assets/images/wracker.png" alt="Wracker">
                </div>
                <div class="services two_three" [routerLink]="['/service']">
                    <h2> SERVICES</h2>
                    <p>Expertise & Capabilities</p>
                    <img data-aos="fade-left" data-aos-once="true" data-aos-duration="1500" src="/assets/images/handheld-laser-welding-machine.png" alt="Wracker">
                </div>
                <div class="industries two_three" [routerLink]="['/industries']">
                    <h2>INDUSTRIES</h2>
                    <p>Sectors we Serve</p>
                    <img data-aos="fade-left" data-aos-once="true" data-aos-duration="1500" src="/assets/images/Motor.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container__filling1">
    </div>
    <div class="wrapper">
        <div class="contact__us">
            <div class="cu__pic">
                <img src="/assets/images/iStock-680194864.jpg" data-aos-once="true" data-aos="fade-up" data-aos-duration="1000" alt="">
            </div>
            <div class="cu__text">
                <h2>TOGETHER</h2>
                <h2> WE CAN</h2>
                <h2> BUILD</h2>
                <h2> ANYTHING</h2>
                <span><a href="" [routerLink]="['/contact']">CONTACT US</a></span>
            </div>
        </div>
        <div class="container__filling3">
        </div>
        <div>
            <app-footer></app-footer>
        </div>  
    </div> -->
</div>